<!-- %-include("header");%> SINCE NOW ITS INSIDE PARTIALS IT WONT WORK-->
<%-include("PARTIALS/header"); %>

    <h1>About</h1>
    <p><%=aboutContent%></p>

    <!--%-include("footer");%> SINCE NOW ITS INSIDE PARTIALS IT WONT WORK-->
<%-include("PARTIALS/footer"); %>
